.whoIsThatPokemonContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto; 
    text-align: center;
    width: 700px;
}

.whoIsThatPokemon-pc {
    display: none;
}

@media (min-width: 901px) {
    .whoIsThatPokemon-pc {
      display: flex;
    }
  }

.logoImage {
    height: 400px;
    /* margin: auto; */
    margin-left: 150px;
    margin-top: 50px;
    width: 400px;
}

.pokemonHidden {
    height: 250px;
    margin-bottom: -30px;
    width: 250px;
}

.correctName {
    color: green;
    font-size: 30px;
}

.incorrectName {
    color: red;
    font-size: 30px;
}

.inputName {
    border: solid 2px rgb(56, 56, 56);
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

.submitButton {
    background-color: orange;
    color: white;
}

.difficultyButton {
    color: white;
    margin: 20px;
}

.continueButton {
    background-color: greenyellow;
    border: solid 4px white;
    color: white;
    /* font-size: 30px; */
    margin: 5px;
}

.tryAgainButton {
    background-color: orange;
    border: solid 4px white;
    color: white;
    margin: 5px;
}