.whoIsThatPokemonContainer {
    align-items: center;
    height: 300px;
    justify-content: center;
    margin: 0 auto; 
    text-align: center;
    width: 700px;
}

.pokemonHidden {
    height: 250px;
    width: 250px;
}

.correctName {
    color: green;
    font-size: 30px;
}

.incorrectName {
    color: red;
    font-size: 30px;
}

.inputName {
    border: solid 2px rgb(56, 56, 56);
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

.submitButton {
    background-color: orange;
    color: white;
}

.difficultyButton {
    background-color: red;
    color: white;
    margin: 20px;
}