.navContainer {
    background-color: rgb(255, 0, 0);
    color: white;
    display: flex;
    font-size: 20px;
    gap: 5px;
    justify-content: space-around;
    padding: 10px;
}

.links {
    color: white;
}